.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  padding: 1vmax 7vmax;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  left: 0;
}

#myOrderHeading {
  font: 400 1.2vmax "Roboto";
  transition: all 0.5s;
  background-color: grey;
  height: 3vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myOrdersTable div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: tomato;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgba(255, 255, 255);
  font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeperator {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrderHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}
