.sidebar {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.sidebar > a:first-child {
  padding: 0;
}

.sidebar > a > img {
  width: 100%;
  transition: all 0.5s;
  margin-top: 20px;
}

.sidebar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  transition: all 0.5s;
  padding: 2rem;
  font: 200 1rem "Roboto";
}

.sidebar a:hover {
  color: rgb(40, 81, 167);
  transform: scale(1.1);
}

.sidebar a > p {
  display: flex;
  align-items: center;
}

.sidebar a > p > svg {
  margin-right: 0.5rem;
}

#MuiTypography-root {
  background-color: #fff !important;
}
