footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  color: rgb(194, 189, 180);
  display: flex;
  align-items: center;
}

.rightFooter,
.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFooter > h4,
.leftFooter > h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.4vmax;
  text-decoration: underline;
  color: black;
}

.rightFooter > a,
.leftFooter > ul > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.leftFooter > ul > a > li {
  list-style: none;
}

.midFooter {
  width: 60%;
  text-align: center;
}

.midFooter > p {
  max-width: 60%;
  font: 700 2vmax cursive;
  margin: 1vmax auto;
  color: rgba(20, 144, 144, 0.872);
}

.rightFooter > a:hover,
.leftFooter > ul > a > li:hover {
  color: #eb4034;
}
